body{
    background-color: rgb(97, 80, 80);
}
img{
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/

       
    
}
tr:hover{
    background-color: rgb(173, 156, 151);
}
